@font-face {
    font-family : 'HelveticaNeueLTStd-Cn';
    src         : url(fonts/HelveticaNeueLTStd-Cn.otf);
}

@font-face {
    font-family : 'HelveticaNeueLTStd-BdCn';
    src         : url(fonts/HelveticaNeueLTStd-BdCn.otf);
}

@font-face {
    font-family : 'HelveticaNeueLTStd-Roman';
    src         : url(fonts/HelveticaNeueLTStd-Roman.otf);
}

@font-face {
    font-family : 'HelveticaNeueLTStd-Bd';
    src         : url(fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face {
    font-family : 'HelveticaNeueLTStd-Md';
    src         : url(fonts/HelveticaNeueLTStd-Md.otf);
}

@font-face {
    font-family : 'CaeciliaLTStd-Italic';
    src         : url(fonts/CaeciliaLTStd-Italic.otf);
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    background: white;
    font-family : 'HelveticaNeueLTStd-Cn';
    margin: 0;
}

button, input[type=submit] {
    background-color: #13814f;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#att {
    float: left;
    margin-bottom: 50px;
}

.content {
    margin: auto;
    padding: 0 84px;
    width: 1024px;
}

.content .hero {
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 15px solid #13814f;
    min-height: 760px;
    width: 100%;
}

.content .hero .form {
    background : rgba(256, 256, 256, .85);
    color: #58595b;
    float: right;
    height: 100%;
    min-height: 760px;
    padding: 50px 55px 35px 55px;
    position: relative;
    width: 208px;
}

.content .hero .form h2 {
    color: #13814f;
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 30px;
    text-transform: uppercase;

}

.content .hero .form form input {
    height: 25px;
    width: 100%;
}

.content .hero .form form label {
    font-family: 'HelveticaNeueLTStd-Roman';
    font-size: 12px;
}

.content .hero .form form select {
    border-radius : 0;
    font-size: 12px;
    height: 25px;
    line-height: 10px;
    padding: 13px 15px;
    resize: none;
    -webkit-appearance: none;
}

.content .hero .form p {
    margin: 0;
}

.content .hero .form form p.city {
    margin-bottom: 0;
}

.content .hero .form form p.state {
    display: inline-block;
    width: 65px;
}

.content .hero .form form p.zip_win {
    display : inline-block;
    width: 130px;
}

.content .hero .form form p.zip_win input.zip {
    width: 139px;
}

.content .hero .form form p.right_radio input, .content .hero .form form p.rules input, .content .hero .form form #submitButton {
    display: inline;
    width: auto;
}

.content .hero .form form p.rules {
    margin-top: 15px;
}

.content .hero .form form p.project {
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 14px;
    margin-top: 30px;
}

.content .hero .form form p.submit {
    margin-top: 28px;
}

.content .prizes {
    color: #58595b;
    height: 148px;
    font-size: 16px;
    padding: 0 40px;
    width: 100%;
}

.content .prizes .prize {
    border-left: 5px solid #13814f;
    display: inline;
    float: left;
    margin-top: 24px;
    min-height: 105px;
    padding: 0 12px;
    width: 208px;
}

.content .prizes .prize h3 {
    color: #58595b;
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
}

.content .prizes .prize img {
    padding-top: 5px;
}

.content .prizes .grandprize {
    border: none;
    width: 260px;
}

.content .prizes .grandprize .large-green {
    color: #13814f;
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 31px;
}

.content .prizes .grandprize .small-green {
    color: #13814f;
    font-family: 'HelveticaNeueLTStd-BdCn';
    font-size: 18px;
}

.content .tabs {
    background-color: #f0efec;
    min-height: 308px;
    margin-top: 50px;
}

.content .tabs ul {
    font-size: 0;
    padding: 0;
    width: 100%;
}

.content .tabs ul li {
    background-color: #ded2b1;
    color: #c5b283;
    cursor: pointer;
    display: inline-block;
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 15px;
    height: 32px;
    line-height: 37px;
    list-style: none;
    margin: 0;
    text-align: center;
    width: 256px;
}

.content .tabs ul li.active {
    background-color: #f0efec;
    color: #58595b;
}

.content .tab-content {
    display: none;
    font-family: 'HelveticaNeueLTStd-Cn';
    font-size: 18px;

}

.content .tab-content a {
    color: #008954;
    font-family: 'CaeciliaLTStd-Italic';
    text-decoration: underline;
}

.content .tab-content h4 {
    color: #13814f;
    font-family: 'HelveticaNeueLTStd-Bd';
    font-size: 18px;
    margin-top: 0;
}

.content .tab-content span.strong {
    font-family: 'HelveticaNeueLTStd-Bd';
    margin-top: 10px;
}

.content .tab-content.active {
    display: block;
}

.content .tab-content .third {
    color: #58595b;
    display: inline-block;
    font-family: 'HelveticaNeueLTStd-Roman';
    font-size: 14px;
    padding-right: 3%;
    width: 31%;
    vertical-align: top;
}

.content .tab-content .third.last  {
    padding-right: 0;
}

.content .tab-content#products, .content .tab-content#transformations {
    padding: 18px 55px;
}

.content .tab-content#products img, .content .tab-content#transformations img {
    width : 100%;
}

.content .tab-content .half {
    display: inline-block;
    float: left;
    padding-top: 26px;
    width: 511px;
}

.content .tab-content .half.last {
    width: 512px;
}

.content .tab-content .half.last label {
    color: #13814f;
}

.content .tab-content .half.last #zipCode {
    height: 25px;
    width: 300px;
}

.content .tab-content .half.last button {
    height: 28px;
}

.content .tab-content .half .tab-copy{
    height: 100%;
    padding: 0 28px;
}

.content .tab-content .half .tab-copy img {
    float: right;
    margin-left: 50px;
}

.content .tab-content .half.last .tab-copy{
    border-left: 1px solid #ccc;
    font-family: 'HelveticaNeueLTStd-Bd';
}

.content .tab-content .half.last .tab-copy label {
    font-size: 14px;
}

.content .tab-content .half.last .tab-copy h5{
    font-size: 18px;
    margin-top: 0;
}

.content .tab-content#offer img {
    float: left;
    margin-right: 58px;
}

.content .tab-content#offer h4 {
    margin-top: 0;
    padding-top: 28px;
}

.content .fineprint, .content .footer {
    font-family: 'HelveticaNeueLTStd-Md';
    font-size: 9px;
    line-height: 13px;
}

.content .fineprint strong, .content .footer strong {
    font-family: 'HelveticaNeueLTStd-Bd';
}

.content .footer .copyright {
    display: inline-block;
    float: left;
    width: 60%;
}

.content .footer .contact {
    color: #58595b;
    display: inline-block;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    width: 30%;
}

.content .footer .contact img {
    margin-left: 40px;
    vertical-align: middle;
}

.content .footer a, .content .fineprint a {
    color: #008954;
    cursor: pointer;
}

.checkbox-bg, .radio-bg {
    background-image: url(images/checkbox-off.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}

.checkbox-bg {
    float: left;
    margin-bottom: 45px;
}

.custom-input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cl {
    clear: both;
}

.close-reveal-modal {
    cursor: pointer;
}

.dim
{
    background-color:black;
    height:100%;
    opacity: 0;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
}

.error {
    color: #666;
    background: #f1ecd9;
    border: 2px solid #e0ddd5;
    border-left-color: #a89b77;
    border-left-width: 5px;
    padding: 5px;
    width: 95%;
}

.required {
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}

#rulesModal {
    background: white;
    display: none;
    height: 600px;
    overflow-y: auto;
    padding: 20px 40px 40px 40px;
    position: absolute;
    width: 800px;
    z-index: 10000;
}

#quote-request {
    margin-top: 15px;
}